// bower:scss
// endbower

/* .browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
} */

/* Everything but the jumbotron gets side spacing for mobile first views */
/* .header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
} */

/* Custom page header */
/* .header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px; */

  /* Make the masthead heading the same height as the navigation */
/*   h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
} */

/* Custom page footer */
/* .footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
} */

/* Main marketing message and sign up button */
/* .jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
} */

/* Supporting marketing content */
/* .marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
} */

/* Responsive: Portrait tablets and up */
/* @media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  } */

  /* Remove the padding we set earlier */
/*   .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  } */
  /* Space out the masthead */
/*   .header {
    margin-bottom: 30px;
  } */
  /* Remove the bottom border on the jumbotron for visual effect */
/*   .jumbotron {
    border-bottom: 0;
  }
} */

$star-color: #f9bc39;
$unstar-color: #cacaca;

body{
  background: #f5f5f5;
}

.login-form{
  text-align: center;
  margin-top: 300px;

  h2{
    margin-bottom: 40px;
    font-size: 26px;
  }


  input{
    width: 300px;
    display: block;
    margin:  0 auto;
    margin-bottom: 30px;
    padding: 10px;
  }

  .btn{
    background: #49b2da;
    padding: 10px;
    width: 140px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 300;
  }
}

.top-title{
  h2{
    text-align: center;
  }
}

.all-single{
  margin-top: 10px;
  padding: 5px;
}


.starboy{
  list-style: none;

  li{
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: $unstar-color;
    cursor: pointer;
  }

  .colored{
    /* background-color: red; */
    color: $star-color;
  }
}

.video-title{
  height: 30px;
  margin: 10px 0px 25px;
  p{
    text-align: center;
    a{
      color: #13a8cc;
    }
  }
}

.video-single{
  background: #f5f5f5;
  border: 1px solid #d8d8d8;
  height: 310px;
}

.video-player{
  width: 100%;
  /* height: 300px; */
}

.decrp{
  p{
    color: #6f6f6f;
    font-size: 13px;
  }
}

.pagniation{
  margin-top: 30px;

  li{
    list-style: none;
  }
}

.no-padding{
  padding: 0px;
}

/* DETAIL PAGE */

.detail-title{
  h2{
    text-align: center;
    margin: 30px 0px;
  }
}

.detail-description{
  p{
    font-size: 17px;
    padding: 15px;
  }
}